/* ABOUT SECTION BELOW */

.about-box {
  font-family: "ITC Avant Garde Gothic Medium", "ITC Avant Garde Gothic",
    "Avant Garde", "Century Gothic", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: #d5d3cc;
  width: 90vw;
  max-width: 650px;
  height: 80vh;
  border: 1px solid rgba(64, 103, 104, 0.35);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 18px rgba(64, 103, 104, 0.25);
  animation: fadeIn 0.3s ease;
  position: relative;
}

.about-top {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
 padding: 50px 10px 10px 10px;
  border-bottom: 2px solid #333;
  flex-shrink: 0;
  z-index: 1;
}

.about-box .box-content {
  background-color: transparent;
  overflow-y: auto;
  padding: 12px;
  flex-grow: 1;
}

.about-img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.about-text {
  max-width: 400px;
  text-align: left;
}

.about-text h1 {
  font-size: 40px;
  color: #19350c;
  margin: 0 0 10px;
}

.about-text p {
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  line-height: 1.6;
  color: #406768;
}

.about-content {
  font-family: inherit;
  padding-left: 10px;
  text-align: left;
}

.about-content li, .about-content p, .about-edu p, .about-int p, .about-int li  {
  font-size: 16px;
  text-align: left;
}
.about-content ul,.about-int ul
{
   text-align: left;
  list-style-position: outside;
  padding-left: 20px;
  margin: 10px 0;
}
.about-content button{
  font-size: 10px;
}
.about-edu h1 {
  padding-top: 5px;
  text-align: left;
  font-size: 30px;
  color: #19350c;
  margin: 0 0 10px;
}

.about-edu {
  padding-left: 20px;
  font-family: inherit;
  padding-top: 10px;
}

.about-edu p {
  text-align: left;
  margin: 0;
  line-height: 1.5;
}

.about-int {
  font-family: inherit;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  padding-bottom: 30px;
}

.about-int h1 {
  font-size: 30px;
  color: #19350c;
  margin: 0 0 10px;
}

@media (max-width: 768px) {
  .about-top {
    flex-direction: row;
    align-items: flex-start;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  .about-text h1 {
    font-size: 1.5rem;
  }

  .about-text p,
  .about-content p,
  .about-content li,
  .about-edu p,
  .about-int li {
    font-size: 14px;
  }

  .about-img {
    margin-top: 40px;
    width: 140px;
    height: 140px;
  }

  .about-content,
  .about-edu,
  .about-int {
    padding-left: 10px;
  }

  .about-box {
    max-width: 95vw;
    height: 85vh;
  }
}
