/* top-right header */
.top {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #406768;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  z-index: 999;
}

.top .socials a {
  color: #687d31;
  text-decoration: underline;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.top .socials a:hover {
  color: #6fa9bb;
}

@media (max-width: 500px) {
  .top {
    padding: 8px 12px;

    right: 5px;
    top: 5px;
  }

  .top .socials a {
    font-size: 14px;
    margin: 0 6px;
  }
}
